.card-panel-single.person {
	width: 100%;
	@include media-breakpoint-up(lg) {
	 	width: 50%;
	}
	.card-linked:hover {
		background-color: $brand-secondary;
	}
	.card {
		// Flexbox makes the card panels equal heights, but the card background doesn't inherit this
		height: calc(100% - #{$spacer});
	}
}